name: Create draft release

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      release_version:
        description: "Release tag (e.g. 1.0.0)"
        required: true
        default: "1.0.0"

permissions:
  contents: write

jobs:
  draft-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Generate changelog
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}
          writeToFile: false

      - name: Create Draft Release
        uses: ncipollo/release-action@v1.12.0
        with:
          allowUpdates: true
          draft: true
          makeLatest: false
          name: ${{ github.ref_name }}
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ github.token }}
